/* CSS - base - Teachr
 * Date of creation : 30/04/2013
 * Creator : Romain FONCIER
 * Target : all
 * Last modification :
 * Comment :
 *
 * ------------------------------------------------------------------- */

/* Bootstrap Imports */
@import "bootstrap/bootstrap";

@media-url: "/Teachr/teachr/media";

/* Colors */
@grey: #999;
@blue: #15A0EB;
@red: #FA0C40;

/** Tree colors **/
@faculty: #15A0EB;
@domain: #1BE07E;
@course: #F2D61D;
@cycle: #E01BB9;
@professor: #FA8B0C;

.faculty { color: @faculty; }
.domain { color: @domain; }
.course { color: @course; }
.cycle { color: @cycle; }
.professor { color: @professor; }

.grey { color: @grey; }
.blue { color: @blue; }

html {
    body {
        background: #222;
        color: #eee;
    }
    a {
        color: #fff;
    }
    a:hover, a:focus {
        text-decoration: none;
    }
}

#header {
    #logo-container {
        margin-top: 60px;
        text-align: center;
        #logo {
            height: 100px;
        }
    }
}

#body-wrapper {
    margin-top: 60px;
    #node-container {
        text-align: center;
        .node {
            display: inline-block;
            height: 160px;
            width: 200px;
            margin: 0 15px;
            .circle {
                height: 140px;
                width: 140px;
                margin: auto;
                border: 5px solid @grey;
                .border-radius(73px);
                .box-shadow(inset 0 3px 4px rgba(0, 0, 0, 0.6));
                background-color: #ddd;
                .letter {
                    height: 140px;
                    width: 140px;
                    background-image: url("@{media-url}/img/letters.png");
                }
                /* All letters */
                .letter-faculty {
                    background-position: 0 -15px;
                }
                .letter-domain {
                    background-position: -206px -15px;
                }
                .letter-professor {
                    background-position: -412px -15px;
                }
                .letter-course {
                    background-position: -628px -15px;
                }
            }
            .circle-title {
                display: block;
                margin-top: 20px;
            }
            &:hover {
                .circle {
                    border-color: @blue;
                }
                .circle-title {
                    color: @blue;
                }
            }
        }
    }
}

#footer {
    margin-top: 60px;
    text-align: center;
}

/** NODAL **/

#data-legend {
    margin-top: 40px;
    #data-error {
        color: @red;
    }
    h3 {
        color: @grey;
    }
    .legend-title {
        display: block;
    }
}

#course-container {
    display: none;
    #course-results {
        td.professor span {
            display: block;
        }
    }
}
